@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f6f6;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background: #ffa500;
  color: white;
  border-radius: 8px;
  border: 0px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  opacity: 0.6;
}

img {
  object-fit: cover;
}

textarea {
  resize: vertical;
}

.card {
  padding: 2em;
}

p.validation-error-message {
  color:red;
}

#app {
  margin: 0 auto;
}

.setting-container {
  display: flex;
}

.view-title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
}

.record-search-container {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1.5px solid #46c443;
  border-radius: 5px;
  margin-top: 20px;
}

/* ファイル登録編集ではエリアをPCの場合には横２つ表示 */
.file-input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .record-search-container {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #46c443;
    border-radius: 5px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .record-search-time-list {
    display: flex;
  }

  .file-input-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #f58505;
  }
}
